@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1160px;
}

/* Общие элементы */

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.main-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* Главная старница */

/* Шапка */

.header-column-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  color: #000000;
  padding: 0 60px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.device-logo {
  display: block;
}

.search-form {
  width: 517px;
}

.search-form input {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.search-button {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
}

.pages-navigation {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

/* Слайдер */

.slider-column-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-image {
  width: 560px;
}

.slider-description-wrapper {
  width: 560px;
}

.slider-number {
  font-size: 180px;
  font-weight: 700;
  color: #ffffff;
}

.slider-image {
  display: block;
}

.feature-name {
  font-size: 16px;
}

.feature-value {
  font-size: 36px;
  color: #000000;
}

.slider-pagination {
  margin: 0;
  padding: 0;
}

/* Ассортимент */

.assortment-list {
  margin: 0;
  padding: 0;
}

.assortment-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/* Услуги */

.services-column-wrapper {
  display: flex;
}

.services-list {
  width: 280px;
  margin: 0;
  padding: 0;
}

.services-description-list {
  width: 873px;
  margin: 0;
  padding: 0;
}

.current-services-button {
  color: #FFE17F;
  background-color: #000000;
}

.special-services-button {
  font-size: 20px;
  line-height: 23px;
}

.index-column-wrapper {
  display: flex;
  justify-content: space-between;
}

/* О компании */

.about {
  width: 520px;
}

.delivery-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Контакты */

.contacts {
  width: 532px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

/* Рассылка */

.subscribe-columns-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subscribe-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe {
  background-color: #F0F0F0;
}

.subscribe .main-title {
  width: 380px;
}

.subscribe-text {
  width: 560px;
}

.subscribe-form {
  width: 810px;
}

.subscribe input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.subscribe-button {
  background-color: transparent;
}

.subscribe-form + .subscribe-text {
  width: 180px;
}

/* Подвал */

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-column-wrapper {
  display: flex;
}

.page-footer .contacts-address {
  font-size: 16px;
  line-height: 20px;
  width: 250px;
  margin-right: 108px;
}

.page-footer .pages-navigation {
  width: 500px;
  margin-right: auto;
}

.page-footer .contacts-phone {
  font-size: 16px;
  line-height: 20px;
  width: 200px;
}

.socials-list {
  margin: 0;
  padding: 0;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.socials-link {
  color: inherit;
}

.html-academy-logo {
  display: block;
  Width: 115px;
}

/* Каталог */

/* Шапка внутренней страницы */

.breadcrumds-list {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.inner-wrapper {
  display: flex;
}

/* Блок фильтров */

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-filter {
  color: #000000;
  width: 320px;
}

.catalog-filter-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.filter-group-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-input-label {
  font-size: 16px;
  line-height: 20px;
}

.sorting-and-results {
  width: 840px;
}

/* Сортировка результатов */

.select-control {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #F0F0F0;
}

/* Карточки товаров */

.products-wrapper {
  background-color: #FFFFFF;
}

.products-card-link {
  text-decoration: none;
  color: #000000;
}

.products-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.products-card-price {
  line-height: 21px;
}

.download-more-button {
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
}

.products-pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.pagination-prev {
  color: #444444;
}
